<html>
	
	<head>
		
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<link rel="stylesheet" type="text/css" media="screen" href="styles/styles.css"/>		
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>


<body>
	<div class="flex-container">	
		
		<div class="main-container">
			<h1>Join Us</h1>	
		</div>

		<div class="lead-container">
			<p class="lead"> Enter your email to join <strong><%= count %></strong> others on our waitlist.<br>Join the dark side! <i class="far fa-smile-wink"></i>
		</div>

			
		<div class="form-container">
			<div class="form-box">
				<form method="POST" action="/register">
					<input type="text" name="email" class="lead-form" placeholder="Enter Your Email">
					<div class="btn-box">
						<button>Join Now</button>
					</div>
				</form>	
			</div>	
			
		</div>
		
	</div>
	
	

	<!-- Javascript files should be linked at the bottom of the page -->
	<script src="https://kit.fontawesome.com/2ebefcd618.js" crossorigin="anonymous"></script>
	
	
</body>


</html>





